<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>Use of Storing data to DB.</description>
    <display-name>StoreData</display-name>
    <servlet-name>StoreDataServlet</servlet-name>
    <servlet-class>com.servlet.StoreDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Use for Sending data to Browser.</description>
    <display-name>SendData</display-name>
    <servlet-name>SendDataServlet</servlet-name>
    <servlet-class>com.servlet.SendDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Use for Sending data to Browser.</description>
    <display-name>SendData</display-name>
    <servlet-name>SendDateServlet</servlet-name>
    <servlet-class>com.servlet.SendDateServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>StoreDataServlet</servlet-name>
    <url-pattern>/servlet/StoreDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendDataServlet</servlet-name>
    <url-pattern>/servlet/SendDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendDateServlet</servlet-name>
    <url-pattern>/servlet/SendDateServlet</url-pattern>
  </servlet-mapping>

</web-app>